body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display:flex;
    flex:1;
    flex-direction:column;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

.container {
    display:flex;
    flex:1;
    flex-direction:row;
    align-items: center;
    padding: 50px 50px 50px 50px ;
    background-color: #1F2937;
    padding-left: max(0px, calc(50vw - 500px));
    padding-right: max(0px, calc(50vw - 500px));
}

.call-to-action, .call-to-action-image-div {
    display:flex;
    flex:1;
    flex-direction:column;
    justify-content: center;
    height: 100%;
}

.call-to-action {
    width: auto;
    color: white;
}

.blue-button {
    align-items: left;
    background-color: #3882F6;
    color: white;
    width: 100px;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

.call-to-action-image-div {
    width: auto;
    background-color: #333;
    align-items: center;
}

.header {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: extra-bold;
    margin-right: 10;
    width: 100%;
}

.footer {
    background-color: #1F2937;
    color: white;
    padding: 10px;
    border-top: 1px solid #e5e5e5;
    width: 100%;
    text-align: center;
}

.left-links, .right-links {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    flex-shrink: 0;
    gap: 30px;
    padding-right: 20px;
}

.left-links a, .right-links a {
    color: #F9FAF8;
    text-decoration: none;
}

.left-links a {
    font-weight: bold;
}

.right-links a {
    font-weight: lighter;
}

.left-links li, .right-links li {
    list-style-type: none;
    align-items: right;
}

.modules {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
}

.module {
    align-items: center;
    text-align: center;
}

.module h2 {
    border:#1F2937 1px solid;
    border-radius: 15px;
    height: 100px;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.modal {
    background-color: #3882F6;
    color: white;
    padding-left: 100px;
    padding-right:100px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    border-radius: 20px;
}

.quote-box {
    display: flex;
    flex-direction: column;
    color: black;
    padding-left: 100px;
    padding-right:100px;
    padding-top: 10px;
    padding-bottom: 10px;
    width:100%;
}

.quote {
    text-align: left;
    font-size: 20px;
    font-style: italic;
}

.author {
    text-align: right;
    font-size: 18px;
    font-weight: bold;
}

h1 {
    line-height: 0 auto;
};